.DataFeed {
    background-color: #1B9AAA;
    color: white;
    height: 100vh;
    border-radius: 0.5em;
    -webkit-box-shadow: -5px 5px 9px 0px rgba(0,0,0,0.13);
    -moz-box-shadow: -5px 5px 9px 0px rgba(0,0,0,0.13);
    box-shadow: -5px 5px 9px 0px rgba(0,0,0,0.13);
    overflow-y: scroll;
}

.move-enter {
    opacity: 0.01;
    /* height: 0; */
    transform: translate(-40px, 0)
}

.move-enter-active {
    opacity: 1;
    transform: translate(0, 0);
    /* height: 100%; */
    transition: all 250ms ease-in;
}